{% block content %}
{%include "header.html" %}

<!-- Page Header -->
<header
        class="masthead"
        style="background-image: url('../static/assets/img/user-bg.jpg')"
>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>{{current_user.name}}</h1>
                    <span class="subheading">Summary of requests</span>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="mb-4">
    <div class="container">
        <div class="row">
            <h2>Post permission requests:</h2>
            <div>
                <div>
                    <p>The following user(s) have permission to post:</p>
                    {% if authors: %}
                    {% for author in authors: %}
                    <ul>
                        <li>Name: {{author.name}}, Email: {{author.email}}, Process: <a
                                href="{{url_for('main.process_posting',user_id=author.id,user_allow=0)}}"
                                class="exec-tag">Revoke</a>
                        </li>
                    </ul>
                    {% endfor %}
                    {% endif %}
                </div>
                <div>
                    {% if users: %}
                    <p>The following user(s) have requested permission to post:</p>
                    {% for user in users: %}
                    <ul>
                        <li>Name: {{user.name}}, Email: {{user.email}}, Process: <a
                                href="{{url_for('main.process_posting',user_id=user.id,user_allow=1)}}"
                                class="exec-tag">Allow</a> <a
                                href="{{url_for('main.process_posting',user_id=user.id, user_allow=0)}}"
                                class="exec-tag">Deny</a>
                        </li>
                    </ul>
                    {% endfor %}
                    {% endif %}
                </div>
                <div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert {% if category == 'error' %} alert-danger {% elif category == 'success' %} alert-success {% elif category == 'warning' %} alert-warning {% endif %}">
                        {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>

            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}
{% endblock %}
